.header {
  min-height: 100vh;
  position: relative;

  @media screen and (max-width: 950px) {
    height: auto;
  }

  & .button {
    margin: auto;

    &--header {
      display: block;
      margin: 35px 0;
      background: #fff;
      border: 2px solid #bfcfff;
      color: #bfcfff;
      transition: 0.4s;

      &:hover {
        border: 2px solid $purple;
        color: $purple;
      }

      @media screen and (max-width: 950px) {
        margin: 35px auto;
      }
    }
  }
  & .slider__dots {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.header > div {
  display: flex;
  justify-content: space-between;

  @media screen and (orientation: portrait) {
    flex-direction: column-reverse;
  }

  @media screen and (max-width: 950px) {
    flex-direction: column-reverse;
  }
}

.info {
  width: 40%;
  padding-left: 40px;

  @media screen and (orientation: portrait) {
    width: 100%;
    padding: 30px;
    text-align: center;
  }

  @media screen and (max-width: 950px) {
    width: 100%;
    padding: 30px;
    text-align: center;
  }
}

.video {
  background: url(/images/video-bg.svg) 100% 0% no-repeat;
  background-size: contain;
  max-width: 851px;
  margin-left: auto;
  font-size: 0;
  display: flex;
  flex-direction: row-reverse;

  @media screen and (max-width: 470px) {
    display: none;
  }

  @media screen and (orientation: portrait) {
    width: 100%;
  }

  @media screen and (max-width: 950px) {
    width: 100%;
  }

  &__item {
    clip-path: url(#path);
    width: 90%;

    & img,
    & iframe,
    & video {
      max-width: 851px;
      width: 100%;
      margin-top: -370px;

      @media screen and (min-width: 951px) and (max-width: 1200px) {
        margin-top: -150px;
      }

      @media screen and (max-width: 700px) {
        margin-top: -70px;
      }

      @media screen and (max-width: 500px) {
        margin-top: 0px;
      }
    }
  }
}

.down {
  display: block;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%);
  width: 130px;
  height: 130px;
  background-color: $purple;
  background-image: url(/images/down.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  transition: background-color 0.4s;

  &:hover {
    background-color: $blue;
    opacity: 1;
  }

  @media screen and (orientation: portrait), screen and (max-width: 950px) {
    display: none;
  }
}

.slider__nav {
  position: relative;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;

  &__list {
    @include ul-reset;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
  }

  &__item {
    display: inline-block;
    margin: 0 3px;
    width: 24px;
    height: 24px;
    border: 3px solid $grey;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s;

    &:hover,
    &--active {
      border-color: $purple;
      background-image: radial-gradient(
        ellipse at center,
        $purple 0%,
        $purple 34%,
        #fff 35%,
        #fff 100%
      );
    }
  }
}

// glide
.glide__bullet--active {
  border-color: $purple;
  background-image: radial-gradient(
    ellipse at center,
    $purple 0%,
    $purple 34%,
    #fff 35%,
    #fff 100%
  );
}

.arrows {
  margin: 70px auto;
  min-width: 320px;
  width: 80%;
  text-transform: uppercase;
  font-family: "Poppins", serif;
  letter-spacing: 2px;
  font-size: 14px;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mediaSm {
    display: none;
  }

  &--left {
    width: 90px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.4s;

    &::before {
      content: url(/images/left-arrow.svg);
      width: 20px;
      margin-right: 30px;
    }

    &:hover {
      opacity: 0.4;
    }
  }

  &--right {
    width: 90px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.4s;

    &::after {
      content: url(/images/right-arrow.svg);
      width: 20px;
      margin-left: 30px;
    }

    &:hover {
      opacity: 0.4;
    }
  }
}

.glide__slide {
  height: auto;
}
