#session {
  width: 100vw;
  height: 100vh;
}

#logged {
  width: 100%;
}

#video-holder {
  position: absolute;
}

.toolbar {
  display: inline-block;
  position: absolute;
  transform: translate(-50%, 0);
  background: rgba(8, 2, 90, 0.8);
  border-radius: 3px;
  z-index: 9;
  transition: all 0.3s ease;
  opacity: 1;
}

.toolbar {
  top: 16px;
  left: 50%;
}

.toolbar-hide {
  top: -100px;
  opacity: 0;
  transition: all 0.3s ease;
}

.toolbox {
  background: rgba(8, 2, 90, 0.8);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 0 3px 3px 0;
  transition: all 0.3s ease;
  opacity: 1;
}

.toolbox {
  left: 0;
  top: 20%;
}

.toolbox-hide {
  opacity: 0;
  transition: all 0.3s ease;
  left: -100px;
}

.toolbox-radius {
  border-radius: 0;
}

.toolButton {
  display: inline-block;
  margin: 16px;
  padding: 0;
}

#main-video {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  video {
    min-width: 100%;
    min-height: 100%;
  }

  p {
    position: absolute;
    display: inline-block;
    background: #f8f8f8;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 22px;
    color: #777777;
    font-weight: bold;
    border-bottom-right-radius: 4px;
    z-index: 9;
  }

  p.userName {
    position: absolute;
    font-size: 16px !important;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 4px;
    font-weight: lighter;
    background: #777777;
    color: #f8f8f8;
    margin: 0;
    z-index: 9;
  }
}

#video-container {
  position: absolute;
  display: flex;
  align-items: flex-start;
  bottom: 16px;
  right: 8px;
  height: 150px;

  video {
    height: 100%;
    cursor: pointer;
    margin-right: -38px;
    margin-left: 8px;
  }

  div {
    position: relative;
    left: -162px;
  }

  p {
    display: inline-block;
    background: #f8f8f8;
    padding-left: 5px;
    padding-right: 5px;
    color: #777777;
    font-weight: bold;
    border-bottom-right-radius: 4px;
  }

  p.userName {
    float: right;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0px;
    font-weight: lighter;
    font-size: 12px;
    background: #777777;
    color: #f8f8f8;
  }
}

/*CHAT*/

.chat {
  position: absolute;
  left: 76px;
  top: 20vh;
  height: 60vh;
  width: 30%;
  background: rgba(8, 2, 90, 0.8);
  border-radius: 0 3px 3px 3px;
  overflow: auto;
}

.messages {
  overflow: auto;
  height: 85%;
}

.chatForm {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  margin: 10px 0;
  padding: 0 10px;
}

.chatFormInput {
  width: 85%;
}

.sendMsgButton {
  height: 40px;
  margin-left: 6px;
}

.msgHolder,
.myMsgHolder {
  background: #fff;
  margin: 15px 10px;
  padding: 5px;
  border-radius: 6px;
  width: 75%;

  span:hover {
    color: rgba(8, 2, 90, 1);
  }
}

.msgHolder {
  border-bottom-left-radius: 0;
}

.myMsgHolder {
  border-bottom-right-radius: 0;
  margin-left: 23%;
}

.systemMsg {
  color: #fff;
  padding: 0 10px;
}

#testmsg {
  background: #fff;
  margin: 15px 10px;
  padding: 5px;
  border-radius: 6px;
  width: 75%;
}

/*CHAT*/

.usersBlock {
  position: absolute;
  left: 76px;
  top: 20vh;
  height: 60vh;
  width: 30%;
  background: rgba(8, 2, 90, 0.8);
  border-radius: 0 3px 3px 3px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.users {
  margin: 0 auto;
  width: 90%;
  margin: 5px 10px;
}
